// Change this file to secrets.h and change the settings for your setup
// WiFi
#define WIFI_SSID       "Example"
#define WIFI_PASS       "Example1234"
#define WIFI_HOST       "the_cloud"

// OTA
// Also needs to be changed in platformio.ini
#define OTA_PASS        "the_cloud"